:root {
    /* site background color */
    --light-grey: rgb(239, 236, 236);

    /* submit button colors */
    --bright-green: green;
    --dark-green: rgb(1, 78, 1);

    /* TEXT COLORS */
    --off-black: rgb(30, 29, 29);
    --grey-text: rgb(75, 75, 75);
    --placeholder-color: rgb(247, 247, 247);

    font-family: sans-serif;
}

body {
    width: 100%;

    /* grid lets body fill entire view width */
    display: grid;
}

/* split site into a left column and right column */
main {
    display: flex;
    flex-direction: row;

    color: var(--off-black);
}

/*
*
* LEFT SIDE OF SCREEN
*
*/

.image {
    width: 30vw;
    height: 100vh;
    position: sticky;

    /* fallback background color */
    background-color: var(--light-grey);

    background-image: url("gray_bg.jpg");
    background-size: cover;
}

/* transparent black bar for
    logo & brand name */
.branding {
    height: 15vh;
    margin-top: 21vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .05em;

    background-color: rgba(0, 0, 0, .5);
    
    width: 100%;
}

/*
*
* RIGHT SIDE OF SCREEN
*
*/

.forms {
    width: 70vw;
}

.forms > * {
    margin-left: 1em;
    margin-right: 1em;
}

.site-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    height: 35vh;

    font-size: large;
    font-weight: 600;
    text-align: center;
}

fieldset {
    height: 30vh;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    box-shadow: 0px .25em .25em var(--light-grey), 0px -.25em .25em var(--light-grey);
}

fieldset > legend {
    transform: translateY(1em);
    margin-top: 2em;
    margin-bottom: 1em;

    font-weight: 600;
    font-size: large;
}

.form-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--grey-text);

    margin-right: 20vw;
}

/* want input label to be placed above text field */
.item > * {
    display: block;
}

.submit {
    padding: .5em 1.5em;
    border-radius: .5em;
    border: none;

    margin: auto;
    margin-top: 2em;

    color: white;
    background-color: var(--bright-green);
    box-shadow: 0px 2px var(--dark-green);

    transition: .2s;
}

.submit:hover {
    transform: scale(1.05);
}

.submit:active {
    transform: translateY(2px);
    box-shadow: 0px 0px;
}

input {
    border: none;
    border-radius: .1em;
    background-color: var(--placeholder-color);

    box-shadow: .1em .1em var(--light-grey);
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

#login-prompt {
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
}

/* At 900px, get rid of two column design */
/* Also line input fields vertically */
@media (max-width: 945px) {
    .image {
        display: none;
    }

    .forms {
        width: 100%;
    }

    fieldset {
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .form-pair {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 0em;

        gap: 1em;
        margin-bottom: 1em;
    }
}

/* At small screen sizes the legend blocks content */
@media (max-width: 500px) {
    legend {
        display: none;
    }
}